body {
  margin: 0;
  font-family: Poppins, sans-serif;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-box{
  border: solid steelblue 1px;
  border-radius: 5px;
  margin: 3rem auto 5rem;
  width: 30rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  padding: none;
}
.header button{
  margin: 1rem 0;
  padding: .5rem .7rem;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1rem;
  cursor:pointer;
}
.header h1{
  margin: 0;
}



.form-input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .5rem 1.5rem 2rem;
}
.form-input input{
  width: 90%;
  margin-top: 2vh;
  min-height: 1.7rem;
}

.form-task-save{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}
.form-task-save input{
  margin: 0 auto;
  padding: 10rem;
  width:22px;
  height: 22px;
}
form button{
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: .6rem 1rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto 2rem 1.5rem;
  cursor: pointer;
}


.task{
  width: auto;
  background-color: rgb(244, 244, 244);
  margin: .25rem 1rem;
  padding-bottom: 0.5rem;
}
.task[data-reminder="true"]{
  border-left: 5px solid green;
}
.task:hover{
  cursor: pointer;
}
.task-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 0 1rem;
  padding: 1rem 1rem 0rem 0rem;
}
.task h3{
  margin: 0;
  text-align: start;
}
.task p{
  margin: 0;
  padding: 0.5rem 1rem 0rem;
  text-align: start;
}


footer{
  margin: 2rem auto 1rem;
}
